doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Stjärnholm Medical AB är ett företag med läkarkompetens inom barn- och ungdomsmedicin, skolhälsovård, företagshälsovård, dykmedicin och infektionsmedicin.')
        meta(name='author', content='')

        title Stjärnholm Medical AB

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // FontAwesome JS
        script(src="https://kit.fontawesome.com/d859ded2d4.js" crossorigin="anonymous")

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='') Stjärnholm Medical AB
                //- a.navbar-brand(href='') 
                //-     img(src="assets/img/logo_500x58.jpg" alt="Stjärnholm Medical AB" height=30)
                //- a.btn.btn-primary(href='#signup') Kontakta oss 
                a.btn.btn-primary(data-target='#ContactUsModal' data-toggle='modal' href='#ContactUs' data-bs-toggle='modal' data-bs-target='#ContactUsModal') Kontakta oss

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Page heading
                            h3.mb-5 Stjärnholm Medical AB är ett företag med läkarkompetens inom barn- och ungdomsmedicin, skolhälsovård, företagshälsovård, dykmedicin, flygmedicin och infektionsmedicin.

        // Infotext
        section.features-icons.text-center
            .container
                h2.mb-4 Vår verksamhet

                .row.justify-content-around
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-baby.m-auto.text-primary
                            h4 Barn- och ungdomsmedicin
                            p.lead
                                | Vår läkare med specialisering inom barn- och ungdomsmedicin har arbetat som överläkare på barnklinik i 10 år och har mer än 20-årig erfarenhet inom skolhälsovård för både kommunala skolor och friskolor.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-lungs-virus.m-auto.text-primary
                            h4 Infektions-, flyg- och dykmedicin
                            p.lead 
                                | Vår läkare med specialisering inom infektionsmedicin, företagshälsovård, flygmedicin och dykmedicin har också lång erfarenhet av arbete inom landsting som överläkare och inom statlig tjänst. 
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-school.m-auto.text-primary
                            h4 Skolhälsovård
                            p.lead
                                | Inom skolhälsovård är våra konsultläkare erfarna barnläkare eller företagsläkare.

        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                h2.mb-2 Utlåtanden och intyg
                p.lead.mb-3.pb-3
                    | Hos oss kan du få hjälp vid behov av olika typer av medicinska utlåtanden och intyg, exempelvis inom

                .row.justify-content-around
                    .col-lg-2.col-md-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-taxi.m-auto.text-primary
                            h4 Körkortstillstånd, alla klasser
                    .col-lg-2.col-md-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-swimming-pool.m-auto.text-primary
                            h4 Yrkesdykning &amp; sportdykning
                    .col-lg-2.col-md-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-subway.m-auto.text-primary
                            h4 Tågförare &amp; motsvarande
                    .col-lg-2.col-md-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-heartbeat.m-auto.text-primary
                            h4 Försäkringar, liv/pension
                    .col-lg-2.col-md-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i(style="font-size: 70").fas.fa-horse.m-auto.text-primary
                            h4 Travlicenser

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/homepage/stock1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Läkarresurser
                        p.lead.mb-0
                            | Vi erbjuder läkarresurser inom barn- och ungdomsmedicin, skolhälsovård, infektionsmedicin, företagshälsovård, dykmedicin och Event Medicine.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/homepage/stock3.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Skolläkartjänster
                        p.lead.mb-0
                            | Mångårig erfarenhet av skolhälsovårdsarbete, skolläkarinsatser i Bodens Kommun, Kalix kommun, Luleå kommun, Kiruna kommun, Pajala kommun och Älvsby kommun samt på friskolor i Boden, Luleå, Skellefteå, Kiruna och Piteå. Vi har även uppdrag i Stockholmsregionen sedan 2012. Vi har resurser för fler uppdrag inom skolhälsovården tack vare medarbetare med lång erfarenhet.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/homepage/stock5.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Allmänna hälsoundersökningar samt intyg för juridiska processer
                        p.lead.mb-0
                            | Förutom läkarresurser inom specialiteterna ovan erbjuder vi möjlighet till utbildningar inom dessa områden. Vi kan skräddarsy föreläsningar efter behov. Vi har erfarenhet av olika datajournalsystem, bland annat VAS, Profdoc JIII, Profdoc Vision, Mellior, PMO, BMS, Take Care och stor vana vid journalföring på data.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/homepage/stock4.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Utbildningar
                        p.lead.mb-0
                            | Vi erbjuder utbildningar och föreläsningar i många områden inom hälso- och sjukvård samt medicinska utbildningar, men även handledarutbildningar. Vi föreläser på vårdhögskolor och universitet samt i privata företag och organisationer.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/homepage/stock2.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Om oss
                        p.lead.mb-0
                            | Stjärnholm Medical AB har F-skattsedel och ansvarsförsäkringar enligt Läkarförbundets rekommendation för privatläkare.#[br]#[br]Stjärnholm Medical AB strävar efter att minimera sin miljöpåverkan genom både lång- och kortsiktig planering. Företaget har sitt säte i Bodens kommun, Mejselvägen 11, 961 38 Boden.

        // People
        include people

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 Vi är stolta sponsorer av
                        ul(style='list-style: none;').mb-2
                            li Sävast AIF ungdomsfotboll
                            li Bodens Ridklubb
                            li BBK-Sim
                        
        // Footer
        include footer
        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')