// People
section.testimonials.text-center.bg-light
    .container
        h2.mb-2 Kontakta oss
        p.font-weight-light.mb-3.pb-3 
            i.bi-telephone.m-auto.text-primary-mr-2
            | +46 70 236 33 45
            br
            i.bi-envelope.m-auto.text-primary-mr-2
            a(href='mailto:info@stjarnholmmedical.se') info@stjarnholmmedical.se
            br
            i.bi-geo-alt.m-auto.text-primary-mr-2
            | Mejselvägen 11, 961 38 Boden
        .row.mt-3.pt-3 
            .col-lg-6
                .testimonial-item.mx-auto.mb-5.mb-lg-0
                    img.img-fluid.rounded-circle.mb-3(src='assets/img/profiles/goran_square.png', alt='Göran Stjärnholm')
                    h5 Göran Stjärnholm
                    p.font-weight-light.mb-0 
                        i.bi-telephone.m-auto.text-primary-mr-2
                        | +46 70 236 33 45
                        br
                        i.bi-envelope.m-auto.text-primary-mr-2
                        a(href='mailto:goran@stjarnholmmedical.se') goran@stjarnholmmedical.se
                            
            .col-lg-6
                .testimonial-item.mx-auto.mb-5.mb-lg-0
                    img.img-fluid.rounded-circle.mb-3(src='assets/img/profiles/helena_square.png', alt='Helena Stjärnholm')
                    h5 Helena Stjärnholm
                    p.font-weight-light.mb-0
                        i.bi-telephone.m-auto.text-primary-mr-2
                        | +46 70 322 66 73
                        br
                        i.bi-envelope.m-auto.text-primary-mr-2
                        a(href='mailto:helena@stjarnholmmedical.se') helena@stjarnholmmedical.se

